[package]
name = "prost-types"
version = "0.6.1"
authors = ["Dan Burkert <dan@danburkert.com>"]
license = "Apache-2.0"
repository = "https://github.com/danburkert/prost"
documentation = "https://docs.rs/prost-types"
readme = "README.md"
description = "A Protocol Buffers implementation for the Rust Language."
edition = "2018"

[lib]
doctest = false
test = false

[features]
default = ["std"]
std = []

[dependencies]
bytes = { version = "0.5", default-features = false }
prost = { version = "0.6.1", path = ".." }
