[package]
name = "protobuf"
version = "0.0.0"
authors = ["Dan Burkert <dan@danburkert.com>"]
publish = false
edition = "2018"

[dependencies]
bytes = { version = "0.5", default-features = false }
prost = { path = ".." }
prost-types = { path = "../prost-types" }

[build-dependencies]
cfg-if = "0.1"
curl = "0.4"
flate2 = "1.0"
prost-build = { path = "../prost-build" }
tar = "0.4"
tempfile = "3"
