[package]
name = "prost-derive"
version = "0.10.1"
authors = [
    "Dan Burkert <dan@danburkert.com>",
    "Tokio Contributors <team@tokio.rs>",
]
license = "Apache-2.0"
repository = "https://github.com/tokio-rs/prost"
documentation = "https://docs.rs/prost-derive"
readme = "README.md"
description = "A Protocol Buffers implementation for the Rust Language."
edition = "2021"
rust-version = "1.56"

[lib]
proc_macro = true

[dependencies]
anyhow = "1.0.1"
itertools = "0.10"
proc-macro2 = "1"
quote = "1"
syn = { version = "1.0.3", features = [ "extra-traits" ] }
