name: continuous integration
on: pull_request

jobs:

  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: install toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true
            components: rustfmt
      - name: rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: install toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            override: true
            components: clippy
      - name: install ninja
        uses: seanmiddleditch/gha-setup-ninja@v1
      - name: cache target directory
        uses: actions/cache@v1
        with:
          path: target
          key: ${{ runner.os }}-${{ matrix.toolchain }}-target-debug
      - name: clippy
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --workspace --all-targets --all-features

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - 1.39.0
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: install toolchain
        uses: actions-rs/toolchain@v1
        with:
            toolchain: ${{ matrix.toolchain }}
            override: true
            components: rustfmt
      - name: install ninja
        uses: seanmiddleditch/gha-setup-ninja@v1
      - name: cache target directory
        uses: actions/cache@v1
        with:
          path: target
          key: ${{ runner.os }}-${{ matrix.toolchain }}-target-debug
      - name: test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-targets --all-features
